<h1>商品管理</h1>
<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a href="/admin/items" class="list-group-item list-group-item-action">商品管理</a>
      <a href="/admin/orders" class="list-group-item list-group-item-action">訂單管理</a>
      <a href="/admin/catogories" class="list-group-item list-group-item-action">類別管理</a>

    </div>
  </div>
  <div class="col-9">
    <div>
      <a class="btn btn-success mb-3" href="/admin/items/create">新增商品</a>
    </div>
    <div class="list-group">
      {{#each products }}
      <div class="row">
        <a href="/admin/items/{{this.id}}" class="list-group-item list-group-item-action col-10">
          <h5>{{this.name}}</h5>
          <h4>{{this.Category.name}}</h4>
        </a>
        <div class="col-2 ">
          <form action="/admin/items/{{this.id}}?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger">刪除</button>
          </form>
        </div>
      </div>
      {{/each}}
      {{!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> --}}
    </div>
  </div>
</div>