<h1>test</h1>

<form action="/upload" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name='file'>
  </div>
  <button type="submit">傳送</button>
</form>